<div class="pane top-pane">
  <app-editor [editorName]="'HTML'" [mode]="'text/html'" (contentChange)="onChanged($event)" (initialContent)="setInitialContent($event)"></app-editor>
  <app-editor [editorName]="'CSS'" [mode]="'text/css'" (contentChange)="onChanged($event)" (initialContent)="setInitialContent($event)"></app-editor>
  <app-editor [editorName]="'JS'" [mode]="'text/javascript'" (contentChange)="onChanged($event)" (initialContent)="setInitialContent($event)"></app-editor>
</div>
<div class="pane">
  <div [innerHTML]="output" class="output"></div>
</div>
