@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';

/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    line-height: 1.7;
    color: black;
}

.CodeMirror {
    height: 100%!important;
    flex-grow: 1;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    overflow: hidden;
}